body {
  color: #d3d3d3;
  font: 12pt arial;
  background-color: #25231f;
}

.mdl-menu__outline {
  background: #222222;
}

.mdl-menu__item:hover {
  background: #333333;
}

.mdl-menu__item {
  color: white;
}

.controls {
  position: fixed;
  top: 0;
  left: 0;
  background: #333333;
  border-radius: 0 0 2px 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.controls-row {
  border-bottom: 1px #222222 solid;
  padding: 5px 10px;
}

.controls-row:last-child {
  border: none;
}

.controls-row .control, .constrols-row .control-label {
  display: inline-block;
}

.controls-row .control-label {
  display: inline-block;
  margin: 0;
}

.label {
  padding: 0 10px;
}

.controls p {
  margin: 0;
  display: inline-block;
}

#step-name {
  width: 30px;
  text-align: right;
}
