body {
  color: #d3d3d3;
  font: 12pt arial;
  background-color: #25231f;
}

#mynetwork {
  width: 1200px;
  height: 600px;
  border: 1px solid #111111;
  background-color: #211f1b;
}
#wrapper {
  width: 500px;
  overflow: hidden;
}
#first {
  width: 80px;
  float:left;
}
#second {
  overflow: hidden;
}
.outer {
  display: table;
  position: absolute;
  height: 35px;
  width: 300px;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 500;
}

.controls {
  position: fixed;
  top: 0;
  left: 0;
  background: #333333;
  padding: 10px;
}

.controls-row .control {
  display: inline-block;
  margin: 0 5px;
}

.label {
  padding: 0 10px;
}

.controls p {
  margin: 0;
  display: inline-block;
}

#step-name {
  width: 30px;
  text-align: right;
}
